.highlight {
  white-space: pre;
  background-color: unset;
}

nav#toc {
  display: flex;
  flex-wrap: wrap;
}

nav#toc > .block {
  --offset: 1em;
  --eh: 100%;
  --vh: 100vh;
  --ratio: calc(var(--vh) / var(--eh));
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: sticky;
  top: var(--offset);
}

@media only screen and (min-width: 160ex) {
  body {
    margin-top: 2em;
    transition: ease all 0.2s;
  }

  #grid-wrapper {
    display: grid;
    grid-template-columns: 100ex;
    margin-left: auto;
    margin-right: auto;
    max-width: 160ex;
  }

  #grid-wrapper article {
    max-width: 100ex;
  }

  #grid-wrapper nav#toc {
    max-width: 60ex;
  }
}

.Agda > pre {
  overflow-x: auto;
  white-space: pre;
}

.Agda .link.external {
  text-decoration-line: none;
}
.Agda .link > a {
  text-decoration-line: none;
}

nav#toc > .block > ul.block {
  max-height: calc(80vh - var(--offset) * 2);
  overflow-y: auto;
}
