

.highlight{
    white-space: pre;
    background-color: unset;
}

nav#toc {
    display: flex;
    flex-wrap: wrap;
}

nav#toc > .block {
    --offset: 1em;
    --eh: 100%;
    --vh: 100vh;
    --ratio: calc(var(--vh) / var(--eh));
    flex-grow: 1;
    flex-basis: 300px;
    align-self: start;
    position: sticky;
    top: var(--offset);
}

nav#toc > .block > ul.block {
    max-height: calc(80vh - var(--offset) * 2);
    overflow-y: auto;
}
